.course-table {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .header-one {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .course-header,
    .course-row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        gap: 110px;
        border-bottom: 1px solid #eaeaea;

        &:not(:last-child) {
            border-bottom: none;
        }
    }

    .course-header {
        font-weight: bold;
        color: #888;
    }

    .course-row {
        align-items: center;

        &:last-child {
            border-bottom: none;
        }


        .course-info {
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .icon {
            font-size: 24px;
            margin-right: 10px;
        }

        .name {
            font-size: 16px;
            font-weight: bold;
            margin: 0;
        }

        .lessons {
            font-size: 14px;
            color: #888;
            margin: 0;
        }
    }
}